################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/out/build/x64-Debug
/SparseSolv/out/build/x64-Debug
/SparseSolv/.vs
/SparseSolvPy/.vs
/SparseSolvPy/out/build/x64-Debug
/examples/VoxelFEM/out/build/x64-Debug
/examples/VoxelFEM/.vs

# Build directories
/build/
/build_*/
build_ngsolve/

# Temporary CMake files
CMakeLists_*.txt

# MATLAB MEX build artifacts
*.obj
*.o
